/*media queries*/
@media only screen and (max-width: 900px) {

	body {
		padding-top: 90px;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	.wrapper {
		margin: 0 auto;
		width: 100%;
		position: relative;
	}

	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-right: 0px;
		margin-left: 0px;
	}

	.logo-mobile img {
		width: auto;
	}
	
	.navbar .btn {
		margin-top: 20px;
	}

	.button-enrollment {
		padding: 35px 0px;
	}

	.partners div.span2 {
		padding-top: 10px;
	}
}

@media only screen and (max-width: 400px) {
	.title-speakers, .title-sponsors,
	.title-partners, .title-local, 
	.title-organizers  {
		font-size: 2.6em;
	}
}

@media only screen and (max-width: 268px) {
	.title-speakers, .title-sponsors,
	.title-partners, .title-local, 
	.title-organizers  {
		font-size: 2.0em;;
	}
}