/*media queries*/
@media only screen and (min-width: 1281px) {

	.body {
		padding-top: 100px;
	}
}

@media screen and (device-aspect-ratio: 16/9) {
	.body {
		padding-top: 100px;
	}
}

@media only screen and (max-width: 960px) {
	.body {
		padding-top: 90px;
		height: 250px;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	.logo-mobile img {
		width: auto;
	}
	
}
