html,body,div,span,figure,h1,h2,h3,h4,p,a,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,details,figure,figcaption,footer,header,hgroup,nav,section,img {
	border:0;
	font-size:100%;
	font:inherit;
	margin:0;
	padding:0;
}

html,body,input {
	font-family:'Open Sans',sans-serif;
	font-size:14px;
	line-height:1.5;
	font-weight:400;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
} 

body {
	background-color:#f7fcff;
	background-image:linear-gradient(top,#f7fcff0%,#ffffff26%,#ffffff100%);
	background-attachment:fixed;
	position:static;
}

@font-face {
	font-family: Amaranth;
	src: url('../fonts/Amaranth.otf');
}

ul li {
	list-style: none;
}

ul {
	padding: 2px;;
}

.face, .mail {
	display: block;
	width: 45px;
	height: 50px;
	float: left;
}

.face {
	background: url(../img/icons/sprite-menu.png) 10px 10px no-repeat;
}

.mail {
	background: url(../img/icons/sprite-menu.png) -52px 10px no-repeat;
}

a:hover {
	filter:alpha(opacity=70);
    -moz-opacity:0.70;
    opacity:0.70;
}

.fixed {
	position: fixed;
	top: 0;
	z-index: 100;
	opacity: .90;
}

.navbar .brand {
	margin-left: 0px;
}

.nav-menu {
	text-transform: uppercase;
	letter-spacing: -0.05em;
	transition: all 0.3s ease-out 0s;
	font-size: 1.2em;
	line-height: 50px;
	padding: 0 16px;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #fff;
	display: block;
}

.cover-page {
	padding-top: 80px;
	height: 650px; 
	background: url(../img/intro_icon_fg.png), url(../img/intro_icon_bg.png);
	background-position: center;
	background-repeat: no-repeat;
}

img {
    max-width: 100%;
}

.logo {
	text-align:center;
	position:relative;
	width:100%;
	height:100%;
	top:0;
}

.logo div {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
}

.logo_mobile img {
	z-index: 1;
}

.container{
	padding: 0;
	width: 100%;
	z-index: 10;
}

.row {
	margin-left: 0px;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
	position: relative;
}

li.face-like {
	float: right !important;
	padding: 2px;
}

/** menu Sobre - about **/
.about {
	padding: 120px 0; 
	background: #00AFEF;
}

.about-title {
	padding-top: 60px;
	font-family: 'Amaranth';
	color: #ffffff;
	font-size: 40px;
	line-height: 40px;
}

.about-title-mobile {
	font-size: 60px;
	line-height: 60px;
}

.about-text {
	color: #221E5C;
	font-size: 20px;
}

.about-event-name {
	font-family: 'Amaranth';
	color: #666666;
	font-weight: bold;
	font-size: 26px;
}

.button-enrollment {
	padding: 35px 50px;
}

/** end menu about **/

/** menu speakers - palestrantes **/
.speakers, .sponsors{
	padding: 80px 0; 
	background: url('../img/cream_pixels.png');
}

.title-speakers, .title-sponsors {
	font-size: 3.3em;
	padding: 24px 0;
	color: #00AFEF;
	font-weight: bold;
	text-align: left;
}

.speaker-resume {
	padding: 20px 0;
}

 /** end menu speakers **/

/** menu Inscrições - enrollment **/
#enrollment {
	padding-top: 0;
	margin-bottom: 0;
}

.enrollment {
	background: #00AFEF;
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
	position: relative;
}

.enrollment .section-title {
	position: relative;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 20px;
	font-size: 1.8em;
}

.has-emphasis {
	color: #ffffff;
}

.section-title {
	font-family: 'Amaranth';
	margin-left: -3px;
}
